
{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<section class="chapitres">
    <h1>Règlement complet</h1>

    <article id="chapitre1">
        <h2>CHAPITRE I : DISPOSITIONS GÉNÉRALES</h2>
        <h3> Article 1 : Champ d'Application</h3>
        <ul>
            <li>➢ Alinéa I :
Le présent règlement s'applique à l'ensemble des membres, utilisateurs de la communauté : "© Project : San Diego™ | [Rp]", qu'ils soient permanents, temporaires ou invités</li>
            <br>
            <li>➢ Alinéa II :
Le présent règlement s'applique à l'ensemble des plateformes numériques officielles de la communauté : "© Project : San Diego™ | [Rp]".</li>
            <br>
            <li>➢ Alinéa III :
Toute inscription, connexion ou participation aux activités de la communauté : "© Project : San Diego™ | [Rp]", vaut acceptation pleine et entière du règlement.</li>
            <br>
            <li>➢ Alinéa IV :
Tout le contenu produit, publié, partagé ou commenté par les membres et ou les officiels de : "© Project : San Diego™ | [Rp]" au nom ou en lien avec la communauté : "© Project : San Diego™ | [Rp]".</li>
        </ul>
        <br> 
        <h3> Article 2 : Références Légales</h3>
        <ul>
            <li>➢ Alinéa I :
Le présent règlement est soumis au droit Français et aux normes Internationales applicables, notamment :
Toute législation spécifique
La loi relative à la propriété intellectuelle
La loi sur la protection des données personnelles (RGPD)
Code Pénal (Discours Haineux, Diffamation, Harcèlement, ETC....)</li>
        </ul>
    </article>
<br>
    <article id="chapitre2">
        <h2>CHAPITRE II : DROITS ; DEVOIRS & RESPONSABILITÉS</h2>
        <h3>Article 3 : Droits Fondamentaux des Membres</h3>
        <ul>
            <li>➢ Alinéa I :
Chaque membre a droit au respect de sa dignité, de ses opinions et de son identité, sans discrimination liée à l'origine, l'âge, le genre, l'orientation, la religion, la situation sociale ou toute autre caractéristique personnelle.</li>
<br>
            <li>➢ Alinéa II :
Chaque membre doit pouvoir participer à la communauté dans un environnement sain, exempt de harcèlement, de menaces, d'intimidations ou de toute forme de violence verbale ou psychologique.</li>
<br>
            <li>➢ Alinéa III :
Chaque membre peut s'exprimer librement dans le cadre des règles de la communauté et dans le respect des lois en vigueur, sous réserve que ses propos ne portent pas atteinte aux autres.</li>
<br>
            <li>➢ Alinéa IV :
Les informations personnelles des membres sont protégées conformément à la législation applicable (notamment le RGPD). Aucun partage ou usage de données ne peut être toléré.</li>
<br>
            <li>➢ Alinéa V :
Chaque membre doit être traité de manière équitable par l'Administration. Toute sanction, mesure disciplinaire ou décision doit être justifiée, proportionnée et susceptible de recours.</li>
<br>
            <li>➢ Alinéa VI :
Chaque membre peut proposer des idées, contribuer à l'amélioration de la communauté et participer aux décisions, selon les modalités définies par l'Administration de : "© Project : San Diego™ | [Rp]".</li>
        </ul>
<br>
        <h3>Article 4 : Devoirs Fondamentaux des Membres</h3>
        <ul>
            <li>➢ Alinéa I :
Chaque membre doit agir avec courtoisie et considération envers les autres participants, en évitant toute forme d'insulte, de discrimination, de harcèlement ou de comportement perturbateur.</li>
<br>
            <li>➢ Alinéa II :
Chaque membre est tenu de respecter l'ensemble des dispositions du présent règlement, ainsi que les règles spécifiques de chaque espace ou événement de la communauté.</li>
<br>
            <li>➢ Alinéa III :
Chaque membre doit participer de manière constructive aux échanges et aux activités, en favorisant l'entraide, la collaboration et le partage de connaissances.</li>
<br>
            <li>➢ Alinéa IV :
Il est interdit de collecter, partager ou utiliser les informations personnelles des autres membres sans leur consentement explicite, conformément au règlement et à la législation en vigueur. (notamment le RGPD)</li>
<br>
            <li>➢ Alinéa V :
Chaque membre doit respecter les droits d'auteur et de propriété intellectuelle liés aux contenus partagés dans la communauté.</li>
<br>
            <li>➢ Alinéa VI :
Chaque membre a le devoir de signaler tout comportement ou contenu contraire au règlement afin de contribuer à la sécurité et à l'harmonie de la communauté.</li>
<br>
            <li>➢ Alinéa VII :
Les membres sont responsables de leurs propos, publications et actions au sein de la communauté et s'engagent à ne pas causer de préjudice aux autres participants ou à la communauté elle-même.</li>
        </ul>
<br>
        <h3>Article 5 : Responsabilités des Membres</h3>
        <ul>
            <li>➢ Alinéa I :
Chaque membre est pleinement responsable des propos, contenus et actions qu'il diffuse au sein de la communauté, qu'ils soient publics ou privés.</li>
<br>
            <li>➢ Alinéa II :
Chaque membre doit contribuer à maintenir un environnement sûr et respectueux, en collaborant à la prévention des comportements nuisibles et en signalant tout manquement au règlement.</li>
<br>
            <li>➢ Alinéa III :
Chaque membre est tenu de respecter les réglementations, en matière de propriété intellectuelle, de protection des données personnelles et de lutte contre les propos illégaux.</li>
<br>
            <li>➢ Alinéa IV :
Chaque membre s'engage à ne pas perturber les activités, le bon fonctionnement et l'équilibre de la communauté, et à agir dans le respect de ses objectifs et valeurs.</li>
<br>
            <li>➢ Alinéa V :
Les membres garantissent que les contenus qu'ils publient ou partagent ne violent pas les droits d'autrui et ne présentent aucun risque pour la communauté.</li>
        </ul>
    </article>
<br>
    <article id="chapitre3">
        <h2>CHAPITRE III : UTILISATIONS DE LA COMMUNAUTÉ</h2>
        <h3> Article 6 : Accès & Participation</h3>
        <ul>
            <li>➢ Alinéa I :
L'accès aux espaces de la communauté : "© Project : San Diego™ | [Rp]", est réservé aux membres enregistrés et ayant accepté le présent règlement.</li>
<br>
            <li>➢ Alinéa II :
Les nouveaux arrivants doivent respecter les conditions d'inscription, de présentation et d'intégration fixées par l'Administration de : "© Project : San Diego™ | [Rp]"</li>
<br>
            <li>➢ Alinéa III :
La participation aux activités de la communauté est libre, sous réserve du respect des thématiques et des règles définies.</li>
        </ul>
<br>
        <h3> Article 7 : Utilisation des Espaces Communautaires</h3>
        <ul>
            <li>➢ Alinéa I :
Chaque canal, salon ou plateforme associée dispose d'une fonction précise (discussion, information, partage, entraide, divertissement, etc.) que les membres s'engagent à respecter.</li>
<br>
            <li>➢ Alinéa II :
Le hors-sujet, le spam ou l'usage abusif des canaux sont interdits afin de préserver l'organisation et la lisibilité des échanges.</li>
<br>
            <li>➢ Alinéa III :
Toute publicité "sauvage", notamment par messages privés, ainsi que l'autopromotion de serveurs Discord ou de projets externes, est interdite en dehors des espaces prévus à cet effet.</li>
        </ul>
<br>
        <h3> Article 8 : Limitations</h3>
        <ul>
            <li>➢ Alinéa I :
L'usage abusif des espaces (flood, trolling, perturbation volontaire, etc.) est interdit.</li>
<br>
            <li>➢ Alinéa II :
Toute utilisation détournée de la communauté à des fins personnelles, commerciales ou nuisibles est strictement prohibée.</li>
        </ul>
    </article>
<br>
    <article id="chapitre4">
        <h2> CHAPITRE IV : ÉTHIQUE & VALEURS COMMUNAUTAIRES</h2>
        <h3> Article 9 : Principes Généraux</h3>
        <ul>
            <li>➢ Alinéa I :
La communauté repose sur des principes fondamentaux de Respect et bienveillance ; d'immersion et engagement Rp, d'honnêteté et intégrité, qui doivent guider l'ensemble des interactions et activités.</li>
<br>
            <li>➢ Alinéa II :
Chaque membre s'engage à agir de manière constructive et responsable, en contribuant positivement à l'expérience collective et au climat général de la communauté.</li>
<br>
            <li>➢ Alinéa III :
Les décisions individuelles ou collectives doivent être alignées avec les valeurs de la communauté.</li>
<br>
            <li>➢ Alinéa IV :
Les comportements visant à diviser, manipuler ou nuire à la cohésion de la communauté sont strictement proscrits.</li>
<br>
            <li>➢ Alinéa V :
Les membres doivent favoriser la transparence dans leurs actions et communications, en partageant les informations pertinentes et en expliquant leurs décisions lorsque cela est nécessaire.</li>
<br>
            <li>➢ Alinéa VI :
L'ensemble des membres a un rôle actif dans la préservation de l'harmonie et de l'éthique au sein de la communauté, en donnant l'exemple et en rappelant, si besoin, les principes aux autres membres de manière respectueuse.</li>
        </ul>
<br>
        <h3>  Article 10 : Intégrité & Honnêteté </h3>
        <ul>
            <li>➢ Alinéa I :
Il est strictement interdit de diffuser des informations trompeuses, mensongères ou manipulatrices, y compris dans les discussions, les publications ou les projets communs.</li>
<br>
            <li>➢ Alinéa II :
Toute tentative de fraude, de manipulation, de plagiat ou d'exploitation abusive d'autres membres ou de la communauté est prohibée et pourra entraîner des sanctions immédiates.</li>
<br>
            <li>➢ Alinéa III :
Les membres doivent agir avec transparence dans leurs contributions, qu'il s'agisse de décisions, de projets collaboratifs ou de partage de ressources, en clarifiant leurs intentions et en reconnaissant le travail des autres.</li>
<br>
            <li>➢ Alinéa IV :
L'intégrité inclut également le respect des engagements pris, qu'il s'agisse de participation aux projets, d'assiduité dans les activités communautaires ou de respect des délais convenus.</li>
<br>
            <li>➢ Alinéa V :
Les membres doivent prévenir et corriger toute erreur ou malentendu causé par leurs actions, en assumant leurs responsabilités et en cherchant à rétablir la confiance auprès des personnes concernées.</li>
<br>
            <li>➢ Alinéa VI :
L'éthique implique aussi une vigilance proactive : signaler tout comportement contraire aux valeurs de la communauté, même si cela ne concerne pas directement le membre, afin de protéger l'ensemble de la communauté.</li>
        </ul>
    </article>
<br>
    <article id="chapitre5">
        <h2> CHAPITRE V : CONTACT & AMÉLIORATION</h2>
        <h3>  Article 11 : Communication avec l'Administration </h3>
        <ul>
            <li>➢ Alinéa I :
Les membres peuvent contacter l'Administration pour toute question, suggestion ou signalement de problème.</li>
<br>
            <li>➢ Alinéa II :
Pour communiquer avec l'Administration, utilisez le canal officiel de contact prévu à cet effet sur Discord.</li>
<br>
            <li>➢ Alinéa III :
Les demandes doivent être formulées de manière claire, respectueuse et précise pour faciliter le traitement par l'Administration.</li>
<br>
            <li>➢ Alinéa IV :
L'Administration s'engage à répondre dans un délai raisonnable et à traiter chaque message avec sérieux et impartialité.</li>
        </ul>
<br>
        <h3>  Article 12 : Suggestions & Améliorations de la Communauté</h3>
        <ul>
            <li>➢ Alinéa I :
Les membres sont encouragés à proposer des idées pour améliorer la communauté, que ce soit sur l'organisation, le contenu ou les événements.</li>
<br>
            <li>➢ Alinéa II :
Les propositions doivent être présentées de manière constructive et réaliste, en détaillant l'objectif et le fonctionnement envisagé.</li>
<br>
            <li>➢ Alinéa III :
L'Administration examine chaque suggestion et peut solliciter des précisions ou organiser un vote parmi ses membres selon la pertinence de la proposition.</li>
<br>
            <li>➢ Alinéa IV :
La communauté évolue en fonction des retours et des besoins de ses membres.</li>
<br>
            <li>➢ Alinéa V :
L'Administration peut organiser des réunions, sondages ou consultations pour recueillir des avis et ajuster les règles, les contenus ou les événements.</li>
<br>
            <li>➢ Alinéa VI :
Chaque membre est encouragé à participer activement à l'évolution de la communauté dans un esprit collaboratif.</li>
        </ul>
<br>
        <h3>  Article 13 : Signalement des Problèmes</h3>
        <ul>
            <li>➢ Alinéa I :
Tout membre peut signaler un bug technique, ou toute situation nuisant à la communauté.</li>
<br>
            <li>➢ Alinéa II :
Les signalements doivent rester objectifs et factuels, en précisant le contexte, la personne concernée et les éléments pertinents.</li>
<br>
            <li>➢ Alinéa III :
L'Administration s'engage à traiter les signalements de manière confidentielle et à prendre les mesures appropriées si nécessaire.</li>
<br>
            <li>➢ Alinéa IV :
Les abus de signalement ou les dénonciations infondées peuvent être sanctionnés.</li>
        </ul>
    </article>
<br>
    <article id="chapitre6">
        <h2>  CHAPITRE VI : SANCTIONS & RECOURS </h2>
        <h3>  Article 14 : Principes des Sanctions</h3>
        <ul>
            <li>➢ Alinéa I :
Toute violation du règlement peut entraîner des sanctions proportionnées à la gravité de l'infraction.</li>
<br>
            <li>➢ Alinéa II :
Les sanctions visent à préserver la sécurité, l'intégrité et l'harmonie de la communauté, et non à punir de manière excessive.</li>
<br>
            <li>➢ Alinéa III :
Les décisions de sanction sont prises par l'Administration ou les modérateurs, en respectant les faits constatés et le contexte de l'incident.</li>
        </ul>
<br>
        <h3>  Article 15 : Types de Sanctions</h3>
        <p>Les sanctions peuvent inclure, mais ne sont pas limitées à :</p>
        <ul>
            <li>Avertissement : notification formelle d'un comportement inapproprié avec rappel des règles.</li>
            <li>Restriction temporaire : limitation de l'accès à certains canaux, fonctionnalités ou activités pour une durée déterminée.</li>
            <li>Suspension temporaire : exclusion temporaire de la communauté pour une période définie, en cas de récidive ou de faute grave.</li>
            <li>Exclusion définitive : retrait permanent de l'accès à la communauté en cas de violation grave ou répétée du règlement.</li>
            <li>Sanctions spécifiques : interdiction de participer à certains événements, suppression de contenus non conformes ou toute mesure proportionnée décidée par l'Administration.</li>
        </ul>
<br>
        <h3>  Article 16 : Procédure de Sanction</h3>
        <ul>
            <li>➢ Alinéa I :
Lorsqu'une infraction est constatée, l'Administration notifie le membre concerné en précisant la nature de la violation et la sanction envisagée.</li>
<br>
            <li>➢ Alinéa II :
Le membre dispose d'un délai raisonnable pour présenter ses explications ou apporter des précisions.</li>
<br>
            <li>➢ Alinéa III :
L'Administration prend sa décision finale après évaluation complète de la situation, en tenant compte du contexte, de la gravité et des antécédents du membre.</li>
 <br>
            <li>➢ Alinéa IV :
La transparence et l'équité doivent guider l'ensemble de la procédure.</li>
        </ul>

        <h3>  Article 17 : Contestation & Récidive</h3>
        <ul>
            <li>➢ Alinéa I :
Tout membre sanctionné peut formuler un recours auprès de l'Administration, selon la procédure définie par la communauté.</li>
<br>
            <li>➢ Alinéa II :
Les recours doivent être motivés, précis et respectueux, en exposant clairement les raisons pour lesquelles la sanction est contestée.</li>
<br>
            <li>➢ Alinéa III :
L'Administration s'engage à examiner chaque recours avec impartialité et à apporter une réponse dans un délai raisonnable.</li>
<br>
            <li>➢ Alinéa IV :
Les décisions finales sur les sanctions sont définitives, sauf si des éléments nouveaux justifient une révision exceptionnelle.</li>
<br>
            <li>➢ Alinéa V :
Les comportements répétés ou les violations multiples peuvent entraîner des sanctions plus sévères.</li>
<br>
            <li>➢ Alinéa VI :
L'Administration peut combiner plusieurs types de sanctions selon la gravité et la fréquence des infractions.</li>
        </ul>
    </article>
<br>
    <article id="chapitre7">
        <h2> CHAPITRE VII : GESTION DES CONTENUS </h2>
        <h3>  Article 18 : Modération & Filtrage</h3>
        <ul>
            <li>➢ Alinéa I :
L'Administration peut appliquer des filtres automatiques, des restrictions temporaires ou tout contrôle nécessaire pour prévenir la diffusion de contenus inappropriés.</li>
<br>
            <li>➢ Alinéa II :
Les décisions de modération sont prises dans le respect du règlement, avec une analyse objective de la situation et en tenant compte du contexte et de la gravité.</li>
<br>
            <li>➢ Alinéa III :
Les membres doivent coopérer avec l'Administration, respecter ses directives et suivre les instructions relatives à la gestion et au retrait de contenus.</li>
<br>
            <li>➢ Alinéa IV :
Les membres doivent prévenir la diffusion de contenus sensibles et signaler tout élément problématique afin de protéger la communauté.</li>
<br>
            <li>➢ Alinéa V :
Les actions de modération peuvent inclure : suppression de contenu, avertissement, restriction temporaire ou autres mesures proportionnées afin de maintenir la sécurité et l'harmonie de la communauté.</li>
        </ul>
    </article>
<br>
    <article id="chapitre8">
        <h2> CHAPITRE VIII : POLITIQUES DES DONS </h2>
        <h3>  Article 19 : Natures des Dons & Conditions Financières</h3>
        <ul>
            <li>➢ Alinéa I :
Les dons versés à la communauté : "© Project : San Diego™ | [Rp]", sont effectués librement et sans contrainte.</li>
<br>
            <li>➢ Alinéa II :
Aucun membre ne peut être contraint, directement ou indirectement, à effectuer un don pour accéder à la communauté, maintenir son statut de membre, obtenir un rôle, grade ou privilège.</li>
<br>
            <li>➢ Alinéa III :
Aucun avantage, traitement préférentiel, contenu exclusif ou statut particulier n'est automatiquement garanti en échange d'un don, sauf mention précise, ponctuelle et validée par l'Administration.</li>
<br>
            <li>➢ Alinéa IV :
Le montant d'un don est entièrement libre et laissé à la discrétion du donateur, aucun seuil minimal ou maximal n'est imposé.</li>
<br>
            <li>➢ Alinéa V :
Le donateur est responsable de vérifier sa capacité financière avant de procéder au don pour : "© Project : San Diego™ | [Rp]"</li>
        </ul>
<br>
        <h3>  Article 20 : Moyen(s) de Paiement & Remboursement</h3>
        <ul>
            <li>➢ Alinéa I :
Les dons ne peuvent être effectués que par les moyens officiels indiqués sur les plateformes officielles de : "© Project : San Diego™ | [Rp]".</li>
<br>
            <li>➢ Alinéa II :
Toute transaction réalisée par un canal non reconnu est nulle et non recevable.</li>
<br>
            <li>➢ Alinéa III :
L'Administration ne reconnaît aucune obligation de rembourser ou régulariser les paiements réalisés hors circuit officiel.</li>
<br>
            <li>➢ Alinéa IV :
Tout don est ferme, définitif et irrévocable dès sa réception par le trésorier de : "© Project : San Diego™ | [Rp]".</li>
<br>
            <li>➢ Alinéa V :
Aucun remboursement (total ou partiel) ne pourra être réclamé, y compris dans ces cas :</li>
        </ul>
        <ul style="margin-left: 2rem;">
            <li>Erreur de montant</li>
            <li>Changement d'avis</li>
            <li>Départ volontaire ou exclusion de la communauté</li>
            <li>Interruption temporaire ou définitive des services</li>
        </ul>
 <br>
        <h3>  Article 21 : Absence de Responsabilité & Acceptation des Conditions</h3>
        <ul>
            <li>➢ Alinéa I :
Les "@⚜️• Project Founder - [F]", l'Administration, le STAFF ou toute personne agissant sous le nom ou le compte de : "© Project : San Diego™ | [Rp]", ne peuvent être tenus responsables :</li>
        </ul>
        <ul style="margin-left: 2rem;">
            <li>du montant versé par erreur ou sans vérification préalable</li>
            <li>d'une transaction réalisée volontairement ou par inadvertance</li>
            <li>de conséquences financières personnelles liées à la décision de don</li>
            <li>d'un éventuel blocage, refus ou limitation imposée par un prestataire de paiement</li>
        </ul>
        <ul>
            <li>➢ Alinéa II :
Tout don effectué à la communauté implique l'acceptation intégrale de la présente politique des dons, sans réserve ni contestation possible.</li>
<br>
            <li>➢ Alinéa III :
Le donateur reconnaît avoir lu, compris, pris conscience et accepté ces conditions avant tout paiement.</li>
<br>
            <li>➢ Alinéa IV :
L'Administration se réserve le droit de mettre à jour cette politique à tout moment, avec effet immédiat uniquement pour les dons futurs.</li>
        </ul>
    </article>
<br>
    <article id="chapitre9">
        <h2> CHAPITRE IX : CLAUSES JURIDIQUES</h2>
        <h3> Article 22 : Propriété des Créations, Propriété Intellectuelle & Droits d'Auteur</h3>
        <ul>
            <li>➢ Alinéa I :
Tous les contenus, créations, documents, médias et ressources développés par les membres, par l'Administration ou pour le serveur dans le cadre de la communauté : "© Project : San Diego™ | [Rp]", ou sur ses plateformes sont la propriété exclusive des : "@⚜️• Project Founder - [F]".</li>
<br>
            <li>➢ Alinéa II :
Cette propriété comprend, sans s'y limiter, les textes, images, vidéos, designs, scripts, mods, configurations, sons, événements et tout autre élément créé pour la communauté : "© Project : San Diego™ | [Rp]".</li>
<br>
            <li>➢ Alinéa III :
Les membres acceptent que toute contribution faite à la communauté puisse être utilisée, modifiée, distribuée ou publiée par l'Administration sans restriction, dans le respect des règles applicables.</li>
        </ul>
<br>
        <h3> Article 23 : Protection des Données & Vie Privé</h3>
        <ul>
            <li>➢ Alinéa I :
L'Administration collecte uniquement les données personnelles strictement nécessaires à pour le bon fonctionnement et à la gestion des services de : "© Project : San Diego™ | [Rp]"</li>
<br>
            <li>➢ Alinéa II :
Aucune donnée personnelle ne sera transmise à des tiers sans consentement explicite du membre, sauf :</li>
        </ul>
        <ul style="margin-left: 2rem;">
            <li>Obligation légale</li>
        </ul>
        <ul>
            <li>➢ Alinéa III :
L'Administration se réserve le droit de conserver certaines données à titre probatoire en cas de litige ou d'obligation légale.</li>
        </ul>
<br>
        <h3> Article 24 : Responsabilités de l'Administration</h3>
        <ul>
            <li>➢ Alinéa I :
L'Administration agit dans le cadre du présent règlement pour assurer le bon fonctionnement, la sécurité et l'harmonie de la communauté.</li>
<br>
            <li>➢ Alinéa II :
Les "Project Founder", l'Administration et toute personne agissant en leur nom ne peuvent être tenus responsables des actes, propos, comportements ou contenus publiés par les membres de la communauté.</li>
<br>
            <li>➢ Alinéa III :
L'Administration ne peut être tenue responsable et décline toute responsabilité en cas de dommages directs ou indirects résultant de l'utilisation de la communauté, des contenus partagés par les membres, des actions des membres eux-mêmes, des interruptions temporaires ou permanente des services.</li>
<br>
            <li>➢ Alinéa IV :
Les membres reconnaissent que l'Administration dispose d'une marge d'appréciation raisonnable pour gérer la communauté et que ses décisions, prises de bonne foi, ne constituent pas un préjudice légal envers les membres.</li>
<br>
            <li>➢ Alinéa V :
Les membres reconnaissent et acceptent que l'Administration détient l'autorité complète et exclusive sur la communauté, y compris la gestion, l'organisation, les contenus, les événements et les règles internes.</li>
<br>
            <li>➢ Alinéa VI :
Les membres sont pleinement conscients que l'Administration peut, à sa discrétion et dans le cadre du règlement ou non, modifier, supprimer, restreindre ou organiser tout aspect de la communauté, sans que cela n'engage sa responsabilité envers les membres.</li>
        </ul>
    </article>
<br>
    <article id="chapitre10">
        <h2> CHAPITRE X : DISPOSITIONS FINALES</h2>
        <h3> Article 25 : Entrée en Vigueur & Modification du Règlement</h3>
        <ul>
            <li>➢ Alinéa I :
Le présent règlement entre en vigueur immédiatement dès sa publication et communication aux membres de la communauté.</li>
<br>
<li>➢ Alinéa II :
Tous les membres, présents ou futurs, sont considérés comme ayant pris connaissance du règlement et s’engagent à le respecter en intégralité.</li>
<br>
<li>➢ Alinéa III :
L’Administration se réserve le droit de modifier, compléter ou supprimer tout article du présent règlement à tout moment, afin de garantir son adaptation aux évolutions de la communauté et des plateformes utilisées.</li>
<br>
<li>➢ Alinéa IV :
Les membres seront informés de toute modification par les canaux officiels, et les changements prendront effet à la date indiquée par l’Administration.</li>
<br>
<li>➢ Alinéa V :
Le maintien dans la communauté après notification implique l’acceptation des modifications apportées.</li>
        </ul>
         <h3>  Article 26 : Primauté du Règlement</h3>
<ul><li>➢ Alinéa I :
Le présent règlement prévaut sur toutes communications orales ou informelles relatives au fonctionnement de la communauté.</li>
<br>
<li>➢ Alinéa II :
Tout accord, entente ou promesse non prévue dans le règlement n’engage pas l’Administration ni la communauté.</li>
 </ul>
<br>
 <h3>  Article 27 : Acceptation & Engagement</h3>
 <ul>
<li>➢ Alinéa I :
En rejoignant la communauté : "© Project : San Diego™ | [Rp]", chaque membre déclare avoir lu, compris et accepté l’ensemble du règlement, y compris ses mises à jour futures.</li>
<br>
<li>➢ Alinéa II :
Le non-respect de cette acceptation ou du règlement peut entraîner des sanctions conformément au règlement.</li>
 </ul>
 <h3>  Article Final : Disposition(s) légale(s) & Extraordinaire(s)</h3>
<ul>
 <li>➢ Alinéa I :
Toute situation non prévue par le règlement sera tranchée par l’Administration dans le respect et des valeurs de la communauté.</li>
    </ul>
    </article>


➢ Lien(s) Officiel(s) :
Site Officiel des CGU Discord :
https://discord.com/terms
<li>Si vous constatez des erreurs n'hésitez pas à contacter un membre de l'Administration via ticket ou directement sur les channels Discord.</li>
    <p style="margin-top:2rem">
        <a href="{{ path('app_reglement') }}" class="btn">⬅ Retour au règlement général</a>
    </p>
</section>
{% endblock %}