{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{%block head %}   
{% endblock %} 
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/reglement.css') }}">
{% endblock %}
{% block body %}
<section class="ChapitreCivil">
    <h1>Règlement Civil</h1>

    <article>
        <h2>Chapitre 1 — Comportement</h2>
        <p>
            le rp civil est mieux que le militaire.
        </p>
    </article>

        <article>
        <h2>Chapitre 2 — Comportement</h2>
        <p>
            Duky est le meilleur pour gerer le rp civil
        </p>
    </article>

    <p style="margin-top:2rem">
        <a href="{{ path('app_reglement') }}" class="btn">⬅ Retour au règlement général</a>
    </p>
</section>
{% endblock %}
