body {
    background: #0e0e0e;
    color: #e0e0e0;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 200px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}


.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cards img {
    width: 100% !important;
    height: auto !important;
    object-fit: cover !important;
    border-radius: 8px;
    display: block;
}
.card {
    width: 250px;
     overflow: hidden; /* empêche toute image de dépasser */
    border: 1px solid #58ff58;
    border-radius: 10px;
    background: rgba(20, 20, 20, 0.9);
    box-shadow: 0 0 10px #58ff58;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}