body {
    background: #0e0e0e;
    color: #e0e0e0;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

.titre {
    color: #58ff58;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}