{% extends 'base.html.twig' %}

{% block title %} Faq - Project San Diego{% endblock %}
{%block head %}   
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/faq.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <header>
        {# <img src="{{ asset('images/Surfy.gif') }}" alt="Logo du projet" class="logo"> #}
        <h1>La Foire Aux Questions</h1>
    </header>

    <section class="intro">
        <h2>Foire Aux Questions</h2>
        <p>Dans cette rubrique vous y retrouverez les questions les plus fréquentes, ou celle qui necessitent plus de détails.</p>
        <p>Cette partie est faite pour aider les nouveaux joueurs, et l'administration qui pourraiz vous rediriger au cas ou elle n'aurait pas la réponse.</p>
        <p>La FAQ est la plus complete possible et regroupe plusieures catégories.</p>
    </section>
<hr>
<br>
    <section class="faq-factions">
        <h2>Factions</h2>
<h3>Comment rejoindre une faction ?</h3>
<p class="details">Pour rejoindre une faction vous devrez rejoindre le <a href="https://discord.gg/UMgQCRMh5B">Discord Principal</a>, et retrouver le discord e la faction qui vous interesse.</p>

<h3>Y a-t-il des règles spécifiques pour chaque faction ?</h3>
<p class="details">Oui, chaque faction possède ses propres règles internes. Et code de conduite.</p>

<h3>Puis-je changer de faction plus tard ?</h3>
<p class="details">Oui il est possible de changer de faction, mais cela ne doit pas etre fait pour obtenir des informations. Si vous changez de faction, vous devez effectuer un wype(réinitialisation de votre personnage)</p>

<h3>Combien de membres peut avoir une faction ?</h3>
<p class="details">Il n'y a pour l'instant aucun nombre maximum de membres par faction.</p>

<h3>Les factions peuvent-elles déclarer la guerre ?</h3>
<p class="details">Oui, mais uniquement avec une raison RP valable et après validation de l'administration.</p>

<h3>Comment créer ma propre faction ?</h3>
<p class="details">Il est impossible de créer votre propre faction, mais dans la ville vous pouvez vous créer un groupe de petite frappe. Soumise a differentes règles</p>

<h3>Les factions peuvent-elles posséder des territoires ?</h3>
<p class="details">Oui, mais les territoires doivent être conquis et maintenus en jeu.</p>

<h3>Puis-je être membre de plusieurs factions ?</h3>
<p class="details">Non, un joueur ne peut appartenir qu’à une faction à la fois. Si vous voulez changer de faction votre personnage doit whype.</p>

    </section>
<hr>
<br>
    <section class="faq-reglement">
        <h2>Règlement</h2>
<h3>Quel est l’âge minimum pour jouer sur le serveur ?</h3>
<p class="details">Notre serveur n'as pas d'age minimum, mais un sérieux et de la maturité est demandé.</p>

<h3>Le Power Gaming est-il autorisé ?</h3>
<p class="details">Non, toute action irréaliste ou impossible IRL est sanctionnée selon la gravité.</p>

<h3>Qu’est-ce que le Meta Gaming ?</h3>
<p class="details">Le Meta Gaming consiste à utiliser des informations hors RP dans le RP. Vous risquez un banissement définitif.</p>

<h3>Qu’est-ce que le Free Kill ?</h3>
<p class="details">Tuer un joueur sans raison RP est interdit. Vous risquez la aussi un banissement définitif.</p>

<h3>Puis-je enregistrer mes scènes RP ?</h3>
<p class="details">Oui, tant que cela respecte la vie privée des joueurs et le règlement Discord.</p>

<h3>Puis-je insulter en RP ?</h3>
<p class="details">Il est possible d'insulter en jeu, mais ca en doit pas attaquer la personne. Mesurez vos propos ou vous risquez de vous faire bannir.</p>
</section>
<hr>
<br>
<section class="faq-civil">
<h3>Comment obtenir un emploi civil ?</h3>
<p class="details">Les emplois civils peuvent être demandés en jeu directement, ou via le discord civil pour savoir quel entreprise recrute.</p>

<h3>Puis-je créer mon propre commerce ?</h3>
<p class="details">La création d'entreprise n'est actuellement pas ouverte, mais vous pouvez reprendre un commerce déjà présent. Vous pouvez aussi crée un petit business de contrebande si cela vous dit.</p>

<h3>Comment acheter une maison ?</h3>
<p class="details">Les maisons ne sont pas encore mises a disposition, mais dès qu'elles le seront, il vous faudra contacter un agent immobillier. Celui-ci vous donnera la suite des opérations.</p>
</section>
<hr>
<br>
<section class="faq-technique">
<h2>Questions Techniques et serveur</h2>    
<h3>Quel est l’IP du serveur ?</h3>
<p class="details">Elle est disponible sur le <a href="https://discord.gg/UMgQCRMh5B">Discord officiel</a> dans le salon ip.</p>

<h3>Quels mods sont nécessaires ?</h3>
<p class="details">La liste complète est fournie sur Discord et doit être installée avant de rejoindre. Vous pouvez toujours télécharger les mods en rejoignant le serveur via la site des serveurs.</p>

<h3>Que faire en cas de crash ?</h3>
<p class="details">Si votre jeu crash, vous devez simplement le relancer, mais si cela vient du serveur, il faut simplement attendre un message de l'administration.</p>

<h3>Comment signaler un bug ?</h3>
<p class="details">Ouvrez un ticket dans la catégorie #support-technique avec une capture d’écran, et les informations utiles a la correction.</p>

<h3>Le serveur est-il ouvert 24/7 ?</h3>
<p class="details">Oui, sauf maintenance annoncée.</p>
</section>
<hr>
<br>
<section class="faq-economie">
<h3>Comment gagner de l’argent rapidement ?</h3>
<p class="details">Il existe differents moyens de se faire de l'argent, aucun moyen ne rapporte plus qu'un autre. Cela dépend de votre efficacité.</p>

<h3>Y a-t-il des activités illégales ?</h3>
<p class="details">Oui, mais si vous souhatez vous engager dans cette voie, soyez prêts à en assumer les conséquences.</p>

<h3>Comment fonctionne l’impôt ?</h3>
<p class="details">L'impôt dépend de la personne qui dirige votre quartier. Cela est a voir directement avec eux, il se peut aussi que cerrtaines personne doivent payer plus que d'autres.</p>
</section>
    <footer>
</div>

{% endblock %}