{% extends 'base.html.twig' %}

{% block title %}Info - Project San Diego{% endblock %}
{%block head %}   
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jouer.css') }}">
{% endblock %}
{% block body %}

<section>
<div>
    <h1 class= "titre">Comment jouer sur notre serveur ?</h1>
    <p>Avant de pouvoir commencer votre aventure, vous deves apprendre les règles, vous pourrez les retrouvers dans la section <a href="/reglement">regles</a></p>
    <p>Ensuite, vous devez rejoindre notre <a href="https://discord.gg/UMgQCRMh5B">serveur Discord</a> pour pouvoir postuler et obtenir les informations nécessaires pour vous connecter au serveur de jeu. </p>
    <p>Une fois sur le discord, lisez les informations qui pourraient manquer. Le site n'a pas pour but de remplacer le discord, il sert uniquement de support complémentaire.</p>
    <br><p>Si vous rencontrez des problèmes pour vous connecter ou si vous avez des questions, n'hésitez pas à contacter un membre de l'équipe de modération en ouvrant un ticket sur le <a href="https://discord.com/channels/1374095020662984835/1393494136459493386">Support</a>. </p>
</div>
</section>


{% endblock %}
