{% extends 'base.html.twig' %}

{% block title %}Hello EquipeModerationController!{% endblock %}

{% block body %}
   <link rel="stylesheet" href="{{ asset('css/moderation.css') }}">
<div class="example-wrapper">
    <h1>Présentation de l'équipe de modération</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>E:/DEV/Web_San_Diego/src/Controller/EquipeModerationController.php</code></li>
        <li>Your template at <code>E:/DEV/Web_San_Diego/templates/equipe_moderation/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
